@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo !</h1>
    <p>Sistema de Controle de Contatos.</p>
    <p><a href="https://www.github.com/leosilvajr">GitHub</a></p>
</div>

